
.timer{
      
    color: #262626;
      height: 3rem;
      width: 8rem;
    margin-top: .1rem;
    
   top:0;
      background-color:#EEEDEB;
      border-radius: 25px ;
      margin-left: 20%;
      margin-bottom: .1rem;
      display: flex;
  
          padding-left: 1.1rem;
          padding-right: .6rem;
          padding-top: .6rem;
    
      .time{
         padding-top: .2rem;
          font-size: large;
      }
    
  }